.main_title{
    color: #fff;
    font-size: 46px;
    text-shadow: 0px 0px 2px #eee;
}
.banner-content{
    margin-top: 130px;
}
.banner-area{
    padding-bottom: 20px;
}
.review-area.section-gap,.blog-area.section-gap,.reservation-area.section-gap.relative{
    display: none;
}
